.clearfix::after
  content:""
  display:table
  clear:both

.uwrite-animation
  opacity: 1
  &.ready
    transition: opacity .5s, transform .5s
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  &.hide
    opacity: 0
    transform: scale(1.4) translateY(50px)
  &.hide-out
    opacity: 0