.uwrite-animation {
  opacity: 1;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
          transition: opacity 0.5s, transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.uwrite-animation.hide {
  opacity: 0;
  -webkit-transform: scale(1.4) translateY(50px);
      -ms-transform: scale(1.4) translateY(50px);
          transform: scale(1.4) translateY(50px);
}
.uwrite-animation.hide-out {
  opacity: 0;
  -webkit-transform: scale(1.4) translateY(-50px);
      -ms-transform: scale(1.4) translateY(-50px);
          transform: scale(1.4) translateY(-50px);
}
