.uwrite-animation {
  opacity: 1;
}
.uwrite-animation.ready {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
          transition: opacity 0.5s, transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.uwrite-animation.hide {
  opacity: 0;
  -webkit-transform: scale(1.4) translateY(50px);
      -ms-transform: scale(1.4) translateY(50px);
          transform: scale(1.4) translateY(50px);
}
.uwrite-animation.hide-out {
  opacity: 0;
}
.page-article .postArticle-content {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.4;
}
.page-article .postArticle-content {
  position: relative;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
}
.page-article hr {
  box-sizing: content-box;
  height: 0;
}
.page-article .section--last {
  padding-bottom: 5px;
}
.page-article .postArticle-content>section {
  position: relative;
  clear: both;
}
.page-article .postArticle-content,
.page-article .postArticle-content:focus {
  outline: 0;
  word-break: break-word;
  word-wrap: break-word;
}
.page-article .graf--hr,
.page-article hr.section-divider {
  display: block;
  width: 100px;
  margin: 51px auto 41px auto;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.15);
}
.page-article .graf--p,
.page-article .graf--blockquote,
.page-article .graf--pullquote {
  margin-bottom: 30px;
}
.page-article p[data-align="center"],
.page-article .graf--h2[data-align="center"],
.page-article .graf--h3[data-align="center"],
.page-article .graf--h4[data-align="center"],
.page-article .graf--blockquote[data-align="center"] {
  text-align: center;
}
.page-article .graf--h3 {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -1.8px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 4px;
  color: rgba(0,0,0,0.8);
}
.page-article .graf--h4 {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  margin-left: -1.6px;
  line-height: 1.2;
  color: rgba(0,0,0,0.44);
  margin-top: 40px;
  margin-bottom: 2px;
}
.page-article .graf--h2+.graf--p.graf--empty+.graf--h3,
.page-article .graf--h3+.graf--p.graf--empty+.graf--h3,
.page-article .graf--h4+.graf--p.graf--empty+.graf--h3,
.page-article .graf--h2+.graf--p.graf--empty+.graf--h4,
.page-article .graf--h3+.graf--p.graf--empty+.graf--h4,
.page-article .graf--h4+.graf--p.graf--empty+.graf--h4 {
  margin-top: -8px;
}
.page-article .graf--p,
.page-article .graf--blockquote,
.page-article .graf--pullquote {
  margin-bottom: 30px;
}
.page-article .graf-image,
.page-article .graf-imageAnchor,
.page-article .iframeContainer>iframe,
.page-article .iframeContainer {
  display: block;
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
}
.page-article .aspectRatioPlaceholder {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.page-article .aspectRatioPlaceholder.is-locked .graf-image,
.page-article .aspectRatioPlaceholder.is-locked .graf-imageAnchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-article .graf--figure {
  position: relative;
  margin-bottom: 30px;
  clear: both;
  outline: none;
  box-sizing: border-box;
}
.page-article .graf--pullquote {
  line-height: 1.4;
  text-align: center;
  font-size: 32px;
  margin: 48px -160px;
  border: none;
  padding: 0;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: margin 100ms;
          transition: margin 100ms;
}
.page-article .section-captionContent,
.page-article section.is-darkBackgrounded>.section-captionContent {
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  color: rgba(0,0,0,0.6);
  left: 0;
  margin-top: 10px;
}
.page-article .section-captionContent,
.page-article section.is-darkBackgrounded>.section-captionContent {
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  color: rgba(0,0,0,0.6);
  left: 0;
  margin-top: 10px;
}
.page-article .graf--sectionCaption {
  display: block;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
.page-article .section-image--aspectRatioViewport .graf--last {
  margin-bottom: 0;
}
.page-article .sectionLayout--outsetColumn,
.page-article .sectionLayout--outsetRow {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  box-sizing: border-box;
}
.page-article div.section-divider,
.page-article .section-inner,
.page-article .postFollowUps,
.page-article .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article .sectionLayout--outsetColumn+.layoutSingleColumn,
.page-article .sectionLayout--outsetColumn+.u-sizeFullWidth,
.page-article .sectionLayout--outsetRow+.layoutSingleColumn,
.page-article .sectionLayout--outsetRow+.u-sizeFullWidth {
  padding-top: 65px;
}
.page-article .layoutSingleColumn {
  width: 700px;
  margin: 0 auto;
}
.page-article div.section-divider,
.page-article .section-inner,
.page-article .postFollowUps,
.page-article .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article .sectionLayout--outsetColumn:before,
.page-article .sectionLayout--outsetRow:before,
.page-article .sectionLayout--outsetColumn:after,
.page-article .sectionLayout--outsetRow:after {
  display: table;
  content: " ";
}
.page-article .sectionLayout--outsetColumn:after,
.page-article .sectionLayout--outsetRow:after {
  clear: both;
}
.page-article figure {
  margin: 1em 40px;
}
.page-article .postArticle-content {
  position: relative;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
}
.page-article ::-moz-selection {
  background-color: #cce2ff;
  color: rgba(0,0,0,0.8);
}
.page-article ::selection {
  background-color: #cce2ff;
  color: rgba(0,0,0,0.8);
}
.page-article *,
.page-article *:before,
.page-article *:after {
  box-sizing: inherit;
}
.page-article div.section-divider,
.page-article .section-inner,
.page-article .postFollowUps,
.page-article .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article figcaption {
  display: block;
}
.page-article article,
.page-article aside,
.page-article details,
.page-article figcaption,
.page-article figure,
.page-article footer,
.page-article header,
.page-article hgroup,
.page-article main,
.page-article nav,
.page-article section,
.page-article summary {
  display: block;
}
.page-article section:first-child>.section-divider,
.page-article section.is-backgrounded+section>.section-divider {
  display: none;
}
.page-article .ui.comments {
  width: 700px;
  margin: 0 auto;
}
.page-signup .reg-header {
  margin: 30px 0 10px 0;
  text-align: center;
}
.page-signup .reg-divider {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.page-signup .reg-dialog {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.page-signup .form {
  padding: 20px;
}
html,
body {
  background: #fff;
}
