.uwrite-animation {
  opacity: 1;
}
.uwrite-animation.ready {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
          transition: opacity 0.5s, transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.uwrite-animation.hide {
  opacity: 0;
  -webkit-transform: scale(1.4) translateY(50px);
      -ms-transform: scale(1.4) translateY(50px);
          transform: scale(1.4) translateY(50px);
}
.uwrite-animation.hide-out {
  opacity: 0;
}
.page-article .postArticle-content {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.4;
}
.page-article .postArticle-content {
  position: relative;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
}
.page-article hr {
  box-sizing: content-box;
  height: 0;
}
.page-article .section--last {
  padding-bottom: 5px;
}
.page-article .postArticle-content>section {
  position: relative;
  clear: both;
}
.page-article .postArticle-content,
.page-article .postArticle-content:focus {
  outline: 0;
  word-break: break-word;
  word-wrap: break-word;
}
.page-article .graf--hr,
.page-article hr.section-divider {
  display: block;
  width: 100px;
  margin: 51px auto 41px auto;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.15);
}
.page-article .graf--p,
.page-article .graf--blockquote,
.page-article .graf--pullquote {
  margin-bottom: 30px;
}
.page-article .graf--blockquote+.graf--blockquote {
  padding-top: 30px;
  margin-top: -30px;
}
.page-article p[data-align="center"],
.page-article .graf--h2[data-align="center"],
.page-article .graf--h3[data-align="center"],
.page-article .graf--h4[data-align="center"],
.page-article .graf--blockquote[data-align="center"] {
  text-align: center;
}
.page-article .graf--blockquote {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 3px solid rgba(0,0,0,0.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
}
.page-article .graf--h2 {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin-left: -3px;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-top: 40px;
  padding-top: 0;
  margin-bottom: 8px;
  color: rgba(0,0,0,0.8);
}
.page-article .graf--h3 {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -1.8px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 4px;
  color: rgba(0,0,0,0.8);
}
.page-article .graf--h4 {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  margin-left: -1.6px;
  line-height: 1.2;
  color: rgba(0,0,0,0.44);
  margin-top: 40px;
  margin-bottom: 2px;
}
.page-article .graf--h2+.graf--p.graf--empty+.graf--h3,
.page-article .graf--h3+.graf--p.graf--empty+.graf--h3,
.page-article .graf--h4+.graf--p.graf--empty+.graf--h3,
.page-article .graf--h2+.graf--p.graf--empty+.graf--h4,
.page-article .graf--h3+.graf--p.graf--empty+.graf--h4,
.page-article .graf--h4+.graf--p.graf--empty+.graf--h4 {
  margin-top: -8px;
}
.page-article .graf--p,
.page-article .graf--blockquote,
.page-article .graf--pullquote {
  margin-bottom: 30px;
}
.page-article .graf-image,
.page-article .graf-imageAnchor,
.page-article .iframeContainer>iframe,
.page-article .iframeContainer {
  display: block;
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
}
.page-article .aspectRatioPlaceholder {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.page-article .aspectRatioPlaceholder.is-locked .graf-image,
.page-article .aspectRatioPlaceholder.is-locked .graf-imageAnchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-article .graf--figure {
  position: relative;
  margin-bottom: 30px;
  clear: both;
  outline: none;
  box-sizing: border-box;
}
.page-article .graf--layoutInsetLeft,
.page-article .graf--layoutOutsetLeft {
  float: left;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.page-article .graf--layoutOutsetLeft {
  width: 75%;
}
.page-article .graf--layoutOutsetLeft {
  margin-left: -160px;
}
.page-article .graf--layoutInsetLeft {
  width: 50%;
}
.page-article .graf--h4+.graf--figure,
.page-article .graf--h3+.graf--figure,
.page-article .graf--h2+.graf--figure {
  margin-top: 15px;
}
.page-article .graf--pullquote {
  line-height: 1.4;
  text-align: center;
  font-size: 32px;
  margin: 48px -160px;
  border: none;
  padding: 0;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: margin 100ms;
          transition: margin 100ms;
}
.page-article .section-captionContent,
.page-article section.is-darkBackgrounded>.section-captionContent {
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  color: rgba(0,0,0,0.6);
  left: 0;
  margin-top: 10px;
}
.page-article .section-captionContent,
.page-article section.is-darkBackgrounded>.section-captionContent {
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  color: rgba(0,0,0,0.6);
  left: 0;
  margin-top: 10px;
}
.page-article .graf--sectionCaption {
  display: block;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
.page-article .section-image--aspectRatioViewport .graf--last {
  margin-bottom: 0;
}
.page-article .sectionLayout--outsetColumn,
.page-article .sectionLayout--outsetRow {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  box-sizing: border-box;
}
.page-article div.section-divider,
.page-article .section-inner,
.page-article .postFollowUps,
.page-article .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article .sectionLayout--outsetColumn+.layoutSingleColumn,
.page-article .sectionLayout--outsetColumn+.u-sizeFullWidth,
.page-article .sectionLayout--outsetRow+.layoutSingleColumn,
.page-article .sectionLayout--outsetRow+.u-sizeFullWidth {
  padding-top: 65px;
}
.page-article .layoutSingleColumn {
  width: 700px;
  margin: 0 auto;
}
.page-article div.section-divider,
.page-article .section-inner,
.page-article .postFollowUps,
.page-article .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article .sectionLayout--outsetColumn:before,
.page-article .sectionLayout--outsetRow:before,
.page-article .sectionLayout--outsetColumn:after,
.page-article .sectionLayout--outsetRow:after {
  display: table;
  content: " ";
}
.page-article .sectionLayout--outsetColumn:after,
.page-article .sectionLayout--outsetRow:after {
  clear: both;
}
.page-article figure {
  margin: 1em 40px;
}
.page-article .postArticle-content {
  position: relative;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
}
.page-article ::-moz-selection {
  background-color: #cce2ff;
  color: rgba(0,0,0,0.8);
}
.page-article ::selection {
  background-color: #cce2ff;
  color: rgba(0,0,0,0.8);
}
.page-article *,
.page-article *:before,
.page-article *:after {
  box-sizing: inherit;
}
.page-article div.section-divider,
.page-article .section-inner,
.page-article .postFollowUps,
.page-article .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article figcaption {
  display: block;
}
.page-article article,
.page-article aside,
.page-article details,
.page-article figcaption,
.page-article figure,
.page-article footer,
.page-article header,
.page-article hgroup,
.page-article main,
.page-article nav,
.page-article section,
.page-article summary {
  display: block;
}
.page-article section:first-child>.section-divider,
.page-article section.is-backgrounded+section>.section-divider {
  display: none;
}
.page-article .imageCaption {
  position: absolute;
  left: -172px;
  width: 150px;
  top: 0;
  text-align: right;
  margin-top: 0;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0,0,0,0.6);
  outline: 0;
  z-index: 300;
}
.page-article .m-imageCaption-below,
.page-article .postArticle--short .imageCaption,
.page-article .graf--layoutOutsetLeft>.imageCaption,
.page-article .graf--layoutOutsetCenter>.imageCaption,
.page-article .graf--layoutFillWidth>.imageCaption,
.page-article .is-partialWidth>.imageCaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
}
.page-article .markup--quote {
  -webkit-transition: 200ms background-color;
          transition: 200ms background-color;
  cursor: pointer;
}
.page-article .markup--quote.is-other {
  background-color: rgba(225,225,225,0.5);
}
.page-article .markup--quote.is-other {
  background-color: rgba(0,0,0,0);
  background-image: -webkit-linear-gradient(top, rgba(225,225,225,0.5), rgba(225,225,225,0.5));
  background-image: linear-gradient(to bottom, rgba(225,225,225,0.5), rgba(225,225,225,0.5));
}
.page-article .ui.comments {
  width: 700px;
  margin: 0 auto;
}
.page-article .section-aspectRatioViewportBottomSpacer,
.page-article .section-aspectRatioViewportBottomPlaceholder {
  display: none;
  max-height: 50vh;
}
.page-article .section--bottomCenter .section-aspectRatioViewportBottomSpacer,
.page-article .section--bottomCenter .section-aspectRatioViewportBottomPlaceholder {
  display: block;
}
.page-article section.is-imageBackgrounded>.section-background {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  cursor: default;
}
.page-article .section-image--aspectRatioViewport.is-imageBackgrounded .section-background,
.page-article .section-image--aspectRatioViewport.is-imageBackgrounded .section-backgroundImage {
  bottom: 0;
}
.page-article .postArticle-content>section {
  position: relative;
  clear: both;
}
.page-article section.is-backgrounded {
  padding: 80px 0;
  width: 100%;
  margin: 80px 0;
}
.page-article section.is-imageBackgrounded {
  box-sizing: border-box;
  padding-bottom: 80px;
}
.page-article section.section-image--aspectRatio,
.page-article section.section-image--aspectRatioViewport {
  padding: 0;
}
.page-article .section--first.is-backgrounded {
  margin-top: 0;
}
.page-article section.is-imageBackgrounded.is-darkBackgrounded {
  background: #191918;
  color: #fff;
}
.page-article section.is-imageBackgrounded.is-darkBackgrounded.is-sectionUsingCanvas {
  background: rgba(255,255,255,0);
}
.page-article .postArticle-content:before,
.page-article .postArticle-content:after {
  display: table;
  content: " ";
}
.page-article .postArticle-content:after {
  clear: both;
}
.page-article section.is-darkBackgrounded .graf--h2,
.page-article section.is-darkBackgrounded .graf--h3 {
  color: #fff;
}
.page-article section.is-imageBackgrounded .section-backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}
.page-article .section-image--aspectRatioViewport.is-imageBackgrounded .section-background,
.page-article .section-image--aspectRatioViewport.is-imageBackgrounded .section-backgroundImage {
  bottom: 0;
}
.page-article .u-table {
  display: table !important;
}
.page-article .section-doubleWidthTable {
  width: 200%;
  table-layout: fixed;
}
.page-article .section-doubleWidthTable {
  width: 200%;
}
.page-article .u-verticalAlignTop {
  vertical-align: top !important;
}
.page-article .u-tableCell {
  display: table-cell !important;
}
.page-article .section-doubleWidthTable>.u-tableCell {
  width: 50%;
}
.page-article .section-doubleWidthTable>.u-tableCell {
  width: 50%;
}
.page-article .section--middleCenter .section-contentCell,
.page-article .section--bottomCenter .section-contentCell {
  vertical-align: middle;
}
.page-article .section-backgroundImage {
  opacity: 0.5;
}
.page-article .section-image--aspectRatioViewport.section--topCenter .section-content {
  padding: 120px 0 80px;
}
.page-article .is-darkBackgrounded .graf--blockquote {
  border-left-color: rgba(255,255,255,0.85);
}
.page-article section.is-imageBackgrounded .graf--h4,
.page-article section[data-background-color]:not([data-background-color$="Light"]) .graf--h4 {
  color: rgba(255,255,255,0.65);
}
.page-article h1,
.page-article h2,
.page-article h3,
.page-article h4,
.page-article h5,
.page-article h6,
.page-article dl,
.page-article dd,
.page-article ol,
.page-article ul,
.page-article menu,
.page-article figure,
.page-article blockquote,
.page-article p,
.page-article pre,
.page-article form {
  margin: 0;
}
.page-signup .reg-header {
  margin: 30px 0 10px 0;
  text-align: center;
}
.page-signup .reg-divider {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.page-signup .reg-dialog {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.page-signup .form {
  padding: 20px;
}
.page-topics .grid {
  margin: 40px auto 120px;
  max-width: 1000px;
  width: 90%;
}
.page-topics .grid a {
  float: left;
  max-width: 250px;
  width: 25%;
  color: #333;
}
.page-topics .grid a:nth-child(odd) {
  margin: 30px 0 -30px 0;
}
.page-topics .grid figure {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background: #333;
}
.page-topics .grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.page-topics .grid figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.page-topics .grid figcaption h2 {
  margin: 0 0 20px 0;
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.page-topics .grid figcaption p {
  padding: 0 20px;
  color: #aaa;
  font-weight: 300;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.page-topics .grid figcaption h2,
.page-topics .grid figcaption p {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
      transform: translateY(50px);
}
.page-topics .grid figure button {
  position: absolute;
  padding: 4px 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.page-topics .grid figcaption,
.page-topics .grid figcaption h2,
.page-topics .grid figcaption p,
.page-topics .grid figure button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.page-topics .grid svg {
  position: absolute;
  top: -1px;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.page-topics .grid svg path {
  fill: #fff;
}
.page-topics .grid a:hover figure img {
  opacity: 1;
}
.page-topics .grid a:hover figcaption h2,
.page-topics .grid a:hover figcaption p {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
}
.page-topics .grid a:hover figcaption p {
  opacity: 0;
}
.page-topics .grid figcaption h2 {
  color: #e74c3c;
}
.page-topics .grid figcaption p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.page-topics .grid figure button {
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: #fff;
  color: #333;
  font-weight: 300;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
      transform: translateY(100%);
}
.page-topics .grid a:hover figure button {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
}
.page-topics .grid figcaption h2,
.page-topics .grid figcaption p {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.115, 1);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
  timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
}
.page-topics .grid a:hover figcaption p {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
@media screen and (max-width: 58em) {
  .page-topics .grid a {
    width: 33.333%;
  }
  .page-topics .grid a:nth-child(odd) {
    margin: 0;
  }
  .page-topics .grid a:nth-child(3n-1) {
    margin: 30px 0 -30px 0;
  }
}
@media screen and (max-width: 45em) {
  .page-topics .grid {
    max-width: 500px;
  }
  .page-topics .grid a {
    width: 50%;
  }
  .page-topics .grid a:nth-child(3n-1) {
    margin: 0;
  }
  .page-topics .grid a:nth-child(even) {
    margin: 30px 0 -30px 0;
  }
  .page-topics .grid figcaption h2 {
    margin-bottom: 0px;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
        transform: translateY(30px);
  }
  .page-topics .grid figcaption p {
    margin: 0;
    padding: 0 10px;
  }
}
@media screen and (max-width: 27em) {
  .page-topics .grid {
    max-width: 250px;
  }
  .page-topics .grid a {
    width: 100%;
  }
  .page-topics .grid a:nth-child(even) {
    margin: 0;
  }
}
html,
body {
  background: #fff;
}
