.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.uwrite-animation {
  opacity: 1;
}
.uwrite-animation.ready {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
          transition: opacity 0.5s, transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.uwrite-animation.hide {
  opacity: 0;
  -webkit-transform: scale(1.4) translateY(50px);
      -ms-transform: scale(1.4) translateY(50px);
          transform: scale(1.4) translateY(50px);
}
.uwrite-animation.hide-out {
  opacity: 0;
}
.page-article-create h3[contenteditable]:empty:not(:focus):before {
  content: 'The title';
}
.page-article-create [contenteditable] {
  outline: 0;
}
.page-article-create .role-content-edit {
  min-height: 500px;
}
.page-article .postArticle-content {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
}
.page-article .postArticle-content>section {
  position: relative;
  clear: both;
}
.page-article .postArticle-content,
.page-article .postArticle-content:focus {
  outline: 0;
  word-break: break-word;
  word-wrap: break-word;
}
.page-article .postArticle-content {
  position: relative;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
}
.page-article .postArticle-content>section {
  position: relative;
  clear: both;
}
.page-article .postArticle-content:before,
.page-article .postArticle-content:after {
  display: table;
  content: " ";
}
.page-article .postArticle-content:after {
  clear: both;
}
.page-article .postArticle-content h1,
.page-article .postArticle-content h2,
.page-article .postArticle-content h3,
.page-article .postArticle-content h4,
.page-article .postArticle-content h5,
.page-article .postArticle-content h6,
.page-article .postArticle-content dl,
.page-article .postArticle-content dd,
.page-article .postArticle-content ol,
.page-article .postArticle-content ul,
.page-article .postArticle-content menu,
.page-article .postArticle-content figure,
.page-article .postArticle-content blockquote,
.page-article .postArticle-content p,
.page-article .postArticle-content pre,
.page-article .postArticle-content form {
  margin: 0;
}
.page-article .postArticle-content hr {
  box-sizing: content-box;
  height: 0;
}
.page-article .postArticle-content .section--last {
  padding-bottom: 5px;
}
.page-article .postArticle-content hr,
.page-article .postArticle-content hr.section-divider {
  display: block;
  width: 100px;
  margin: 51px auto 41px auto;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.15);
}
.page-article .postArticle-content p,
.page-article .postArticle-content blockquote,
.page-article .postArticle-content .graf--pullquote {
  margin-bottom: 30px;
}
.page-article .postArticle-content blockquote+blockquote {
  padding-top: 30px;
  margin-top: -30px;
}
.page-article .postArticle-content p[data-align="center"],
.page-article .postArticle-content h2[data-align="center"],
.page-article .postArticle-content h3[data-align="center"],
.page-article .postArticle-content h4[data-align="center"],
.page-article .postArticle-content blockquote[data-align="center"] {
  text-align: center;
}
.page-article .postArticle-content blockquote {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 3px solid rgba(0,0,0,0.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
}
.page-article .postArticle-content h2 {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin-left: -3px;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-top: 40px;
  padding-top: 0;
  margin-bottom: 8px;
  color: rgba(0,0,0,0.8);
}
.page-article .postArticle-content h3 {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -1.8px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 4px;
  color: rgba(0,0,0,0.8);
}
.page-article .postArticle-content h4 {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  margin-left: -1.6px;
  line-height: 1.2;
  color: rgba(0,0,0,0.44);
  margin-top: 40px;
  margin-bottom: 2px;
}
.page-article .postArticle-content h2+p.graf--empty+h3,
.page-article .postArticle-content h3+p.graf--empty+h3,
.page-article .postArticle-content h4+p.graf--empty+h3,
.page-article .postArticle-content h2+p.graf--empty+h4,
.page-article .postArticle-content h3+p.graf--empty+h4,
.page-article .postArticle-content h4+p.graf--empty+h4 {
  margin-top: -8px;
}
.page-article .postArticle-content p,
.page-article .postArticle-content blockquote,
.page-article .postArticle-content .graf--pullquote {
  margin-bottom: 30px;
}
.page-article .postArticle-content .graf-image,
.page-article .postArticle-content .graf-imageAnchor,
.page-article .postArticle-content .iframeContainer>iframe,
.page-article .postArticle-content .iframeContainer {
  display: block;
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
}
.page-article .postArticle-content .aspectRatioPlaceholder {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.page-article .postArticle-content .aspectRatioPlaceholder.is-locked .graf-image,
.page-article .postArticle-content .aspectRatioPlaceholder.is-locked .graf-imageAnchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-article .postArticle-content .graf--figure {
  position: relative;
  margin-bottom: 30px;
  clear: both;
  outline: none;
  box-sizing: border-box;
}
.page-article .postArticle-content .graf--layoutInsetLeft,
.page-article .postArticle-content .graf--layoutOutsetLeft {
  float: left;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.page-article .postArticle-content .graf--layoutOutsetLeft {
  width: 75%;
}
.page-article .postArticle-content .graf--layoutOutsetLeft {
  margin-left: -160px;
}
.page-article .postArticle-content .graf--layoutInsetLeft {
  width: 50%;
}
.page-article .postArticle-content h4+.graf--figure,
.page-article .postArticle-content h3+.graf--figure,
.page-article .postArticle-content h2+.graf--figure {
  margin-top: 15px;
}
.page-article .postArticle-content .graf--pullquote {
  line-height: 1.4;
  text-align: center;
  font-size: 32px;
  margin: 48px -160px;
  border: none;
  padding: 0;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: margin 100ms;
          transition: margin 100ms;
}
.page-article .postArticle-content .section-captionContent,
.page-article .postArticle-content section.is-darkBackgrounded>.section-captionContent {
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  color: rgba(0,0,0,0.6);
  left: 0;
  margin-top: 10px;
}
.page-article .postArticle-content .section-captionContent,
.page-article .postArticle-content section.is-darkBackgrounded>.section-captionContent {
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  color: rgba(0,0,0,0.6);
  left: 0;
  margin-top: 10px;
}
.page-article .postArticle-content .graf--sectionCaption {
  display: block;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
.page-article .postArticle-content .section-image--aspectRatioViewport .graf--last {
  margin-bottom: 0;
}
.page-article .postArticle-content .sectionLayout--outsetColumn,
.page-article .postArticle-content .sectionLayout--outsetRow {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  box-sizing: border-box;
}
.page-article .postArticle-content div.section-divider,
.page-article .postArticle-content .section-inner,
.page-article .postArticle-content .postFollowUps,
.page-article .postArticle-content .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article .postArticle-content .sectionLayout--outsetColumn+.layoutSingleColumn,
.page-article .postArticle-content .sectionLayout--outsetColumn+.u-sizeFullWidth,
.page-article .postArticle-content .sectionLayout--outsetRow+.layoutSingleColumn,
.page-article .postArticle-content .sectionLayout--outsetRow+.u-sizeFullWidth {
  padding-top: 65px;
}
.page-article .postArticle-content .layoutSingleColumn {
  width: 700px;
  margin: 0 auto;
}
.page-article .postArticle-content div.section-divider,
.page-article .postArticle-content .section-inner,
.page-article .postArticle-content .postFollowUps,
.page-article .postArticle-content .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article .postArticle-content .sectionLayout--outsetColumn:before,
.page-article .postArticle-content .sectionLayout--outsetRow:before,
.page-article .postArticle-content .sectionLayout--outsetColumn:after,
.page-article .postArticle-content .sectionLayout--outsetRow:after {
  display: table;
  content: " ";
}
.page-article .postArticle-content .sectionLayout--outsetColumn:after,
.page-article .postArticle-content .sectionLayout--outsetRow:after {
  clear: both;
}
.page-article .postArticle-content ::-moz-selection {
  background-color: #cce2ff;
  color: rgba(0,0,0,0.8);
}
.page-article .postArticle-content ::selection {
  background-color: #cce2ff;
  color: rgba(0,0,0,0.8);
}
.page-article .postArticle-content *,
.page-article .postArticle-content *:before,
.page-article .postArticle-content *:after {
  box-sizing: inherit;
}
.page-article .postArticle-content div.section-divider,
.page-article .postArticle-content .section-inner,
.page-article .postArticle-content .postFollowUps,
.page-article .postArticle-content .notesPositionContainer {
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
          transition: right 200ms;
}
.page-article .postArticle-content figcaption {
  display: block;
}
.page-article .postArticle-content article,
.page-article .postArticle-content aside,
.page-article .postArticle-content details,
.page-article .postArticle-content figcaption,
.page-article .postArticle-content figure,
.page-article .postArticle-content footer,
.page-article .postArticle-content header,
.page-article .postArticle-content hgroup,
.page-article .postArticle-content main,
.page-article .postArticle-content nav,
.page-article .postArticle-content section,
.page-article .postArticle-content summary {
  display: block;
}
.page-article .postArticle-content section:first-child>.section-divider,
.page-article .postArticle-content section.is-backgrounded+section>.section-divider {
  display: none;
}
.page-article .postArticle-content .imageCaption {
  position: absolute;
  left: -172px;
  width: 150px;
  top: 0;
  text-align: right;
  margin-top: 0;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0,0,0,0.6);
  outline: 0;
  z-index: 300;
}
.page-article .postArticle-content .m-imageCaption-below,
.page-article .postArticle-content .postArticle--short .imageCaption,
.page-article .postArticle-content .graf--layoutOutsetLeft>.imageCaption,
.page-article .postArticle-content .graf--layoutOutsetCenter>.imageCaption,
.page-article .postArticle-content .graf--layoutFillWidth>.imageCaption,
.page-article .postArticle-content .is-partialWidth>.imageCaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
}
.page-article .postArticle-content .markup--quote {
  -webkit-transition: 200ms background-color;
          transition: 200ms background-color;
  cursor: pointer;
}
.page-article .postArticle-content .markup--quote.is-other {
  background-color: rgba(225,225,225,0.5);
}
.page-article .postArticle-content .markup--quote.is-other {
  background-color: rgba(0,0,0,0);
  background-image: -webkit-linear-gradient(top, rgba(225,225,225,0.5), rgba(225,225,225,0.5));
  background-image: linear-gradient(to bottom, rgba(225,225,225,0.5), rgba(225,225,225,0.5));
}
.page-article .postArticle-content .ui.comments {
  width: 700px;
  margin: 0 auto;
}
.page-article .postArticle-content .section-aspectRatioViewportBottomSpacer,
.page-article .postArticle-content .section-aspectRatioViewportBottomPlaceholder {
  display: none;
  max-height: 50vh;
}
.page-article .postArticle-content .section--bottomCenter .section-aspectRatioViewportBottomSpacer,
.page-article .postArticle-content .section--bottomCenter .section-aspectRatioViewportBottomPlaceholder {
  display: block;
}
.page-article .postArticle-content section.is-imageBackgrounded>.section-background {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  cursor: default;
}
.page-article .postArticle-content .section-image--aspectRatioViewport.is-imageBackgrounded .section-background,
.page-article .postArticle-content .section-image--aspectRatioViewport.is-imageBackgrounded .section-backgroundImage {
  bottom: 0;
}
.page-article .postArticle-content section.is-backgrounded {
  padding: 80px 0;
  width: 100%;
  margin: 80px 0;
}
.page-article .postArticle-content section.is-imageBackgrounded {
  box-sizing: border-box;
  padding-bottom: 80px;
}
.page-article .postArticle-content section.section-image--aspectRatio,
.page-article .postArticle-content section.section-image--aspectRatioViewport {
  padding: 0;
}
.page-article .postArticle-content .section--first.is-backgrounded {
  margin-top: 0;
}
.page-article .postArticle-content section.is-imageBackgrounded.is-darkBackgrounded {
  background: #191918;
  color: #fff;
}
.page-article .postArticle-content section.is-imageBackgrounded.is-darkBackgrounded.is-sectionUsingCanvas {
  background: rgba(255,255,255,0);
}
.page-article .postArticle-content section.is-darkBackgrounded h2,
.page-article .postArticle-content section.is-darkBackgrounded h3 {
  color: #fff;
}
.page-article .postArticle-content section.is-imageBackgrounded .section-backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}
.page-article .postArticle-content .section-image--aspectRatioViewport.is-imageBackgrounded .section-background,
.page-article .postArticle-content .section-image--aspectRatioViewport.is-imageBackgrounded .section-backgroundImage {
  bottom: 0;
}
.page-article .postArticle-content .u-table {
  display: table !important;
}
.page-article .postArticle-content .section-doubleWidthTable {
  width: 200%;
  table-layout: fixed;
}
.page-article .postArticle-content .section-doubleWidthTable {
  width: 200%;
}
.page-article .postArticle-content .u-verticalAlignTop {
  vertical-align: top !important;
}
.page-article .postArticle-content .u-tableCell {
  display: table-cell !important;
}
.page-article .postArticle-content .section-doubleWidthTable>.u-tableCell {
  width: 50%;
}
.page-article .postArticle-content .section-doubleWidthTable>.u-tableCell {
  width: 50%;
}
.page-article .postArticle-content .section--middleCenter .section-contentCell,
.page-article .postArticle-content .section--bottomCenter .section-contentCell {
  vertical-align: middle;
}
.page-article .postArticle-content .section-backgroundImage {
  opacity: 0.5;
}
.page-article .postArticle-content .section-image--aspectRatioViewport.section--topCenter .section-content {
  padding: 120px 0 80px;
}
.page-article .postArticle-content .is-darkBackgrounded blockquote {
  border-left-color: rgba(255,255,255,0.85);
}
.page-article .postArticle-content section.is-imageBackgrounded h4,
.page-article .postArticle-content section[data-background-color]:not([data-background-color$="Light"]) h4 {
  color: rgba(255,255,255,0.65);
}
.navbar-padding {
  margin-top: 90px;
}
.navbar {
  position: fixed;
  border-bottom: 1px solid #eee;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  line-height: 1;
  z-index: 999;
  background: rgba(255,255,255,0.9);
  text-transform: uppercase;
}
.navbar a,
.navbar a:visited,
.navbar a:hover {
  color: #555;
}
.navbar .container {
  width: 1000px;
  margin: 0 auto;
}
.navbar .logo {
  float: left;
  height: 50px;
  padding: 15px;
}
.navbar .logo img {
  height: 50px;
}
.navbar .nav-items {
  float: left;
}
.navbar .nav-items a {
  line-height: 67px;
  border-bottom: 3px solid transparent;
  padding: 0 20px;
  display: block;
  float: left;
  margin-right: 10px;
  -webkit-transition: border-color 0.2s linear;
          transition: border-color 0.2s linear;
}
.navbar .nav-items a.active {
  border-color: #777;
}
.navbar .nav-items a:hover {
  border-color: #2ea7e0;
}
.navbar .nav-action-items {
  float: right;
  height: 30px;
  margin: 20px 0;
  line-height: 30px;
}
.page-signup .reg-header {
  margin: 30px 0 10px 0;
  text-align: center;
}
.page-signup .reg-divider {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.page-signup .reg-dialog {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.page-signup .form {
  padding: 20px;
}
.page-topics .topic-card {
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
          transition: transform 0.8s, opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page-topics .topic-card[hide="bottom"] {
  opacity: 0;
  -webkit-transform: translateY(100px) scale(1.3);
      -ms-transform: translateY(100px) scale(1.3);
          transform: translateY(100px) scale(1.3);
}
.page-topics .topic-card[hide="top"] {
  opacity: 0;
  -webkit-transform: translateY(-100px) scale(1.3);
      -ms-transform: translateY(-100px) scale(1.3);
          transform: translateY(-100px) scale(1.3);
}
.page-topics .grid {
  margin: 40px auto 120px;
  max-width: 1000px;
  width: 90%;
}
.page-topics .grid a {
  float: left;
  max-width: 250px;
  width: 25%;
  color: #333;
}
.page-topics .grid a:nth-child(odd) {
  margin: 30px 0 -30px 0;
}
.page-topics .grid figure {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background: #333;
}
.page-topics .grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.page-topics .grid figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.page-topics .grid figcaption h2 {
  margin: 0 0 20px 0;
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.page-topics .grid figcaption p {
  padding: 0 20px;
  color: #333;
  font-weight: 300;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.page-topics .grid figcaption h2,
.page-topics .grid figcaption p {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
      transform: translateY(50px);
}
.page-topics .grid figure button {
  position: absolute;
  padding: 4px 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.page-topics .grid figcaption,
.page-topics .grid figcaption h2,
.page-topics .grid figcaption p,
.page-topics .grid figure button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.page-topics .grid svg {
  position: absolute;
  top: -1px;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.page-topics .grid svg path {
  fill: rgba(255,255,255,0.9);
}
.page-topics .grid figure:hover svg path {
  fill: rgba(255,255,255,0.98);
}
.page-topics .grid a:hover figure img {
  opacity: 1;
}
.page-topics .grid a:hover figcaption h2,
.page-topics .grid a:hover figcaption p {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
}
.page-topics .grid a:hover figcaption p {
  opacity: 0;
}
.page-topics .grid figcaption h2 {
  color: #e74c3c;
}
.page-topics .grid figcaption p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.page-topics .grid figure button {
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: rgba(255,255,255,0.98);
  color: #333;
  font-weight: 300;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
      transform: translateY(100%);
}
.page-topics .grid a:hover figure button {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
}
.page-topics .grid figcaption h2,
.page-topics .grid figcaption p {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.115, 1);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
  timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
}
.page-topics .grid a:hover figcaption p {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
@media screen and (max-width: 58em) {
  .page-topics .grid a {
    width: 33.333%;
  }
  .page-topics .grid a:nth-child(odd) {
    margin: 0;
  }
  .page-topics .grid a:nth-child(3n-1) {
    margin: 30px 0 -30px 0;
  }
}
@media screen and (max-width: 45em) {
  .page-topics .grid {
    max-width: 500px;
  }
  .page-topics .grid a {
    width: 50%;
  }
  .page-topics .grid a:nth-child(3n-1) {
    margin: 0;
  }
  .page-topics .grid a:nth-child(even) {
    margin: 30px 0 -30px 0;
  }
  .page-topics .grid figcaption h2 {
    margin-bottom: 0px;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
        transform: translateY(30px);
  }
  .page-topics .grid figcaption p {
    margin: 0;
    padding: 0 10px;
  }
}
@media screen and (max-width: 27em) {
  .page-topics .grid {
    max-width: 250px;
  }
  .page-topics .grid a {
    width: 100%;
  }
  .page-topics .grid a:nth-child(even) {
    margin: 0;
  }
}
html,
body {
  background: #fff;
}
