<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.signup.title}">Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/lib/semantic-ui/semantic.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/semantic-ui/semantic.min.css}"/>
    <link href="../../../resources/css/uwrite.css" rel="stylesheet" media="screen" th:href="@{/resources/css/uwrite.css}" />
</head>
<body class="page-signup">

<div class="reg-header">
  <a href="../homeNotSignedIn.html" th:href="@{/}" target="_self" class="uwrite-animation hide">
    <img src="../../../resources/image/logo-big.png"/>
  </a>
</div>
<div class="reg-divider uwrite-animation hide">
  <div class="ui horizontal divider">
    Sign up
  </div>
</div>
<div class="reg-dialog">
  <form class="ui form" method="post" th:action="@{/signup}" th:object="${signupForm}">
    <div class="field uwrite-animation hide">
      <label>E-mail</label>
      <input name="email" placeholder="Your e-mail" type="text"/>
    </div>
    <div class="field uwrite-animation hide">
      <label>Password</label>
      <input name="password" type="password"/>
    </div>
    <div class="field uwrite-animation hide">
      <label>Comfirm your password</label>
      <input name="confirmPassword" type="password"/>
    </div>
    <div class="field uwrite-animation hide">
      <label>Nick name</label>
      <input name="nickname" placeholder="Pick up a nick name" type="text"/>
    </div>
    <div class="field uwrite-animation hide">
      <div class="ui checkbox">
        <input name="isAgree" type="checkbox"/>
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <div class="field uwrite-animation hide">
      <div class="ui fluid positive large submit button">
        Join
      </div>
    </div>
  </form>
</div>

<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Sign up failed
  </div>
  <div class="content">
    <div class="description"></div>
  </div>
  <div class="actions">
      <div class="ui red basic inverted button">
        OK
      </div>
  </div>
</div>

<script src="../../../resources/lib/jquery.min.js" th:src="@{/resources/lib/jquery.min.js}"></script>
<script src="../../../resources/lib/semantic-ui/semantic.min.js" th:src="@{/resources/lib/semantic-ui/semantic.min.js}"></script>
<script src="../../../resources/js/sign-up.js" th:src="@{/resources/js/sign-up.js}"></script>
</body>
</html>
