<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.signin.title}">Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/lib/semantic-ui/semantic.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/semantic-ui/semantic.min.css}"/>
    <link href="../../../resources/css/uwrite.css" rel="stylesheet" media="screen" th:href="@{/resources/css/uwrite.css}" />
</head>
<body class="page-signup" style="background-color: #ffffff">

<div class="reg-header">
  <a href="../homeNotSignedIn.html" th:href="@{/}" target="_self" class="uwrite-animation hide">
    <img src="../../../resources/image/logoBIG.png"/>
  </a>
</div>
<div class="reg-divider uwrite-animation hide">
  <div class="ui horizontal divider">
    Sign in
  </div>
</div>
<div class="reg-dialog">
  <form class="ui form" method="post" th:action="@{/authenticate}">
    <div class="field uwrite-animation hide">
      <label>E-mail</label>
      <input name="username" placeholder="E-mail" type="text"/>
    </div>
    <div class="field uwrite-animation hide">
      <label>Password</label>
      <input name="password" type="password"/>
    </div>
    <div class="field uwrite-animation hide">
      <div class="ui checkbox">
        <input name="_spring_security_remember_me" type="checkbox"/>
        <label>Remember me</label>
      </div>
    </div>
    <div class="field uwrite-animation hide">
      <div class="ui fluid positive large submit button">
        Sign in
      </div>
    </div>
    <div class="field uwrite-animation hide">
      <p>New here? <a href="../signup/signup.html" th:href="@{/signup}">Sign Up</a></p>
    </div>
  </form>
</div>

<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Sign in failed
  </div>
  <div class="content">
    <div class="description">Email or password mismatch. Please try again.</div>
  </div>
  <div class="actions">
      <div class="ui red basic inverted button">
        OK
      </div>
  </div>
</div>

<script src="../../../resources/lib/jquery/dist/jquery.min.js" th:src="@{/resources/lib/jquery/dist/jquery.min.js}"></script>
<script src="../../../resources/lib/semantic-ui/semantic.min.js" th:src="@{/resources/lib/semantic-ui/semantic.min.js}"></script>
<script src="../../../resources/js/sign-in.js" th:src="@{/resources/js/sign-in.js}"></script>
</body>
</html>
