<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.signin.title}">Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/lib/semantic-ui/semantic.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/semantic-ui/semantic.min.css}"/>
    <link href="../../../resources/css/uwrite.css" rel="stylesheet" media="screen" th:href="@{/resources/css/uwrite.css}" />
</head>
<body>

<div class="login-dialog">
  <form class="ui form segment" method="post" th:action="@{/authenticate}">
    <th:block th:if="${param.error != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
    </th:block>
    <div class="field">
      <label>E-mail</label>
      <input name="username" placeholder="E-mail" type="text"/>
    </div>
    <div class="field">
      <label>Password</label>
      <input password="password" type="password"/>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="_spring_security_remember_me" /> Remember me</label>
    </div>
    <button class="positive ui submit button">Sign in</button>
    <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <p>New here? <a href="signup" th:href="@{/signup}">Sign Up</a></p>
            </div>
        </div>
  </form>
</div>

<script src="../../../resources/lib/jquery.min.js" th:src="@{/resources/lib/jquery.min.js}"></script>
<script src="../../../resources/lib/semantic-ui/semantic.min.js" th:src="@{/resources/lib/semantic-ui/semantic.min.js}"></script>
<script src="../../../resources/js/sign-in.js" th:src="@{/resources/js/sign-in.js}"></script>
</body>
</html>
