<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="demo-1">
<head>
    <title th:text="#{view.index.title}">uwrite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../../../resources/lib/semantic-ui/semantic.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/semantic-ui/semantic.min.css}"/>
    <link href="../../../resources/css/uwrite.css" rel="stylesheet" media="screen" th:href="@{/resources/css/uwrite.css}" />
    <link href="../../../resources/css/index/index.css" rel="stylesheet" media="screen" th:href="@{/resources/css/index/index.css}" />
    <link href="../../../resources/css/index/component.css" rel="stylesheet" media="screen" th:href="@{/resources/css/index/component.css}" />
</head>
<body class="page-index">


<div class="container">

<header class="codrops-header">
    <div>
        <img src="../../../resources/img/logo0.svg" th:src="@{/resources/img/logo0.svg}" />
    </div>
    <div class="index-nav">    
        <a class="ui inverted button" href="../../signin" th:href="@{/signin}">Login</a>
        <a class="ui inverted teal button" href="../../signup" th:href="@{/signup}">Sign up</a>
    </div>
</header>

<section id="grid" class="grid clearfix">
    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
        <figure>
            <img src="../../../resources/img/1.png" th:src="@{/resources/img/1.png}" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
                <h2>Crystalline</h2>
                <p>Soko radicchio bunya nuts gram dulse.</p>
                <button>View</button>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
        <figure>
            <img src="../../../resources/img/3.png" th:src="@{/resources/img/3.png}" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
                <h2>Cacophony</h2>
                <p>Two greens tigernut soybean radish.</p>
                <button>View</button>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
        <figure>
            <img src="../../../resources/img/5.png" th:src="@{/resources/img/5.png}" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
                <h2>Languid</h2>
                <p>Beetroot water spinach okra water.</p>
                <button>View</button>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
        <figure>
            <img src="../../../resources/img/7.png" th:src="@{/resources/img/7.png}" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
                <h2>Serene</h2>
                <p>Water spinach arugula pea tatsoi.</p>
                <button>View</button>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
        <figure>
            <img src="../../../resources/img/2.png" th:src="@{/resources/img/2.png}" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
                <h2>Nebulous</h2>
                <p>Pea horseradish azuki bean lettuce.</p>
                <button>View</button>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
        <figure>
            <img src="../../../resources/img/4.png" th:src="@{/resources/img/4.png}" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
                <h2>Iridescent</h2>
                <p>A grape silver beet watercress potato.</p>
                <button>View</button>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
        <figure>
            <img src="../../../resources/img/6.png" th:src="@{/resources/img/6.png}" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
                <h2>Resonant</h2>
                <p>Chickweed okra pea winter purslane.</p>
                <button>View</button>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
        <figure>
            <img src="../../../resources/img/8.png" th:src="@{/resources/img/8.png}" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
                <h2>Zenith</h2>
                <p>Salsify taro catsear garlic gram.</p>
                <button>View</button>
            </figcaption>
        </figure>
    </a>
</section>

</div>


<script src="../../../resources/lib/jquery.min.js" th:src="@{/resources/lib/jquery.min.js}"></script>
<script src="../../../resources/lib/semantic-ui/semantic.min.js" th:src="@{/resources/lib/semantic-ui/semantic.min.js}"></script>
<script src="../../../resources/lib/snap.svg-min.js" th:src="@{/resources/lib/snap.svg-min.js}"></script>
<script src="../../../resources/js/index.js" th:src="@{/resources/js/index.js}"></script>
</body>
</html>

<!--




<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/lib/semantic-ui/semantic.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/semantic-ui/semantic.min.css}"/>
    <link href="../../../resources/css/uwrite.css" rel="stylesheet" media="screen" th:href="@{/resources/css/uwrite.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <h1>Test</h1>
    <p class="lead">
        Welcome to the Spring MVC Quickstart application!
        Get started quickly by signing up.
    </p>
    <p>
        <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
    </p>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
<script src="../../../resources/lib/jquery.min.js" th:src="@{/resources/lib/jquery.min.js}"></script>
<script src="../../../resources/lib/semantic-ui/semantic.min.js" th:src="@{/resources/lib/semantic-ui/semantic.min.js}"></script>
</body>
</html>
-->