<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/lib/semantic-ui/semantic.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/semantic-ui/semantic.min.css}"/>
    <link href="../../../resources/css/uwrite.css" rel="stylesheet" media="screen" th:href="@{/resources/css/uwrite.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <h1>Test</h1>
    <p class="lead">
        Welcome to the Spring MVC Quickstart application!
        Get started quickly by signing up.
    </p>
    <p>
        <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
    </p>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
<script src="../../../resources/lib/jquery.min.js" th:src="@{/resources/lib/jquery.min.js}"></script>
<script src="../../../resources/lib/semantic-ui/semantic.min.js" th:src="@{/resources/lib/semantic-ui/semantic.min.js}"></script>
</body>
</html>
