<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/lib/semantic-ui/semantic.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/semantic-ui/semantic.min.css}"/>
    <link href="../../../resources/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/font-awesome/css/font-awesome.min.css}"/>
    <link href="../../../resources/lib/medium-editor/dist/css/medium-editor.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/medium-editor/dist/css/medium-editor.min.css}" />
    <link href="../../../resources/lib/medium-editor/dist/css/themes/default.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/medium-editor/dist/css/themes/default.min.css}" />
    <link href="../../../resources/libmedium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css" rel="stylesheet" media="screen" th:href="@{/resources/lib/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css}" />
    <link href="../../../resources/css/fonts.css" rel="stylesheet" media="screen" th:href="@{/resources/css/fonts.css}" />
    <link href="../../../resources/css/uwrite.css" rel="stylesheet" media="screen" th:href="@{/resources/css/uwrite.css}" />
</head>

<body class="page-article page-article-create">

<div class="article-content">
    <div role="main" class="postArticle-content js-postField js-notesSource">
        <section class="section--content section--first section--last">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <h3 class="graf--h3" data-align="center" contenteditable="plaintext-only"></h3>
                    <div class="role-content-edit"></div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="../../../resources/lib/jquery/dist/jquery.min.js" th:src="@{/resources/lib/jquery/dist/jquery.min.js}"></script>
<script src="../../../resources/lib/handlebars/handlebars.runtime.min.js" th:src="@{/resources/lib/handlebars/handlebars.runtime.min.js}"></script>
<script src="../../../resources/lib/jquery-sortable/source/js/jquery-sortable-min.js" th:src="@{/resources/lib/jquery-sortable/source/js/jquery-sortable-min.js}"></script>
<script src="../../../resources/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js" th:src="@{/resources/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js}"></script>
<script src="../../../resources/lib/blueimp-file-upload/js/jquery.iframe-transport.js" th:src="@{/resources/lib/blueimp-file-upload/js/jquery.iframe-transport.js}"></script>
<script src="../../../resources/lib/blueimp-file-upload/js/jquery.fileupload.js" th:src="@{/resources/lib/blueimp-file-upload/js/jquery.fileupload.js}"></script>
<script src="../../../resources/lib/semantic-ui/semantic.min.js" th:src="@{/resources/lib/semantic-ui/semantic.min.js}"></script>
<script src="../../../resources/lib/medium-editor/dist/js/medium-editor.min.js" th:src="@{/resources/lib/medium-editor/dist/js/medium-editor.min.js}"></script>
<script src="../../../resources/lib/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.min.js" th:src="@{/resources/lib/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.min.js}"></script>
<script src="../../../resources/js/article-create.js" th:src="@{/resources/js/article-create.js}"></script>
</body>
</html>