
/* Before Content */
#outerbeforecontent{border:solid 1px #e8e8e8;  background:#fafafa}
#beforecontent h1{color:#2a313c;}

/* Content */
.highlight-content{border:solid 1px #e8e8e8;}
.highlight-content h1, .customtext{color:#505c70;}

/* Form */
input[type="text"],
textarea, input[type="password"], select{
    border:solid 1px #ececec;
    color:#888;
}

/* Horizontal Line */
hr {
    color:#eaeaea;
    background-color:#eaeaea;
}

/* List */
.listSquareSmall li a, .listSquareSmall li a:visited{color:#888;}
.listSquareSmall li a:hover, .listSquareSmall li:hover{color:#e13e00;}
.listSquareSmall li{border-bottom:solid 1px #efefef;}

/* Images */
.imgborder{border:solid 1px #ececec;}

/* Button */
.button, .button:visited, input[type="submit"]{
    background: #2d333e; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#505c70', endColorstr='#2d333e'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#505c70), to(#2d333e)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #505c70,  #2d333e); /* for firefox 3.6+ */
    border:solid 1px #505c70;
    color:#fff;
}
.button:hover, input[type="submit"]:hover{
    background: #505c70; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d333e', endColorstr='#505c70'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#2d333e), to(#505c70)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #2d333e,  #505c70); /* for firefox 3.6+ */
    border:solid 1px #505c70;
    color:#fff;
}



/* Blog */
.posttitle a{color: #08516E;}
.posttitle a:visited{color:#4f5b70;}
.posttitle a:hover{color:#ec561d}
.tdate, .reply{color:#969696; }
.comment-body{background:#f8f8f8;}
.avatar{border:solid 1px #ececec;}

.wp-pagenavi a, .wp-pagenavi a:visited{color:#888; border:solid 1px #dddddd; background:#f2f2f2}
.wp-pagenavi .current, .wp-pagenavi a:hover{color:#888; border:solid 1px #dddddd; background:#fff}

.entry-utility a{color:#ec561d; }
.entry-utility a:hover{color:#dc3c00; }
/* Sidebar */

#sidebar li li a:hover{color:#4f5b70;}
#sidebar .widget-title{color:#2a313c;}
#sidebar .widget-container{border-top:solid 1px #efefef;}

 #sidebar .smalldate a:visited{color:#dc3c00;}
#sidebar .smalldate a:hover{text-decoration:underline;}
#sidebar .lp-widget li h3 a{color:#4e5b70;}
#sidebar .lp-widget li h3 a:hover{color:#dc3c00}
#sidebar .lp-widget .smalldate{color:#999;}
.rp-widget li .smalldate{color:#bababa;}


/* Footer Sidebar & Footer */
#outerfootersidebar{ background:#28aee3; color:white;}
#footersidebar{}
#footersidebar .widget-title{color:#fff;}
#footersidebar li a, #footersidebar li a:visited{color:#d0d0d0}
#footersidebar li a:hover{color:#ddd}

/* newsletter */
#newsletter input[type="text"]{
    background:rgba(255,255,255,.4);

}
#newsletter input[type="submit"]{
    background: #21262e; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b313c', endColorstr='#21262e'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#2b313c), to(#21262e)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #2b313c,  #21262e); /* for firefox 3.6+ */
    border:solid 1px #232831;
}

#newsletter input[type="submit"]:hover{
    background: #2b313c; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21262e', endColorstr='#2b313c'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#21262e), to(#2b313c)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #21262e,  #2b313c); /* for firefox 3.6+ */
    border:solid 1px #232831;
}


/* Footer */
#outerfooter{ background:#0073b1;}
#footer{color:#bbb;}
#footer a, #footer a:visited{color:#bbb;}
#toTop{color:#aaa}

/*
USE THIS STYLE SHEET FOR INNER PAGE
*/

/* BLOG */
.post{margin-bottom:50px; padding:0 0 50px 0; clear:both; background:url(../../../resources/img/list/separator.png) no-repeat center bottom}
.postimg{margin:20px 0 0 0; background:url(../../../resources/img/list/shadow-medium.gif) no-repeat center bottom; padding-bottom:6px;}
.postimg img{max-width:100%;}
.posttitle{margin:0 0 4px 0}
.posttitle, .posttitle a{font-size:18px; line-height:24px; font-family:'OpenSansRegular', Arial;}
.posttitle a:hover{text-decoration:none;}
.entry-utility{padding:0; font-size:12px; font-style:italic}
.entry-utility p{padding-top: 5px;}
.entry-content{padding:20px 0 0 0;}
.post .button{margin:10px 0 ; display:inline-block; float:left}


#comment h2{font-family:'OpenSansBold', Arial;}
.commentlist{
    list-style-type:none;
    padding:0;
    margin:0;
}
.commentlist ol{
    list-style-type:none;
    padding:30px 0 0 90px;
    margin:0;
}

.commentlist li{
    position:relative;
    padding:0 0 30px 0;
}
.commentlist li li{
    position:relative;
    padding:0;
}

.avatar-img{
    position:absolute;
    top:0;
    left:0;
    background:url(../../../resources/img/list/shadow-mini.gif) no-repeat center bottom;
    padding-bottom:6px;
}
.avatar{padding:4px; display:block}
.fn{font-size:12px; font-style:normal;}
.tdate{padding-left:20px;}
.tdate, .reply{ font-size:10px;}
.reply a, .reply a:visited{}
.fn a, .fn a:visited{}

.comment-body{margin:0 0 0 90px; padding:20px;}
.comment-body p{ margin-bottom:5px; margin-top:10px;}
.comment-body .more{ padding:0px 0px;}
#commentform {margin-bottom:20px}
#commentform label{display:block}
#commentform .text-input{
    margin-bottom:8px;
    padding:8px 5px;
    vertical-align:middle;
}
#commentform .textarea{
    margin-bottom:20px;
    padding:8px 5px;
    vertical-align:top;
}


.addthis_toolbox{float:right;  text-align:right;}



.inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 50px;
    padding:30px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.inner:after {
    content: "";
    display: table;
    clear: both;
}


.subMenu {
    height: 50px;
    z-index: 1000;
    width: 100%;
    background: #0977bc;
}

.subMenu .inner {
    padding:0;
    font-weight: 400;
    margin: 0 auto;
}


.subNavBtn {
    display: block;
    height: 35px;
    width: 15%;
    float: left;
    margin: 0 ;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 2% 0 2%;
    text-align: center;
    color: #fff;
    font-family: 'OpenSansRegular';
}
.subMenu a{
    color: #ffffff;
}

.subMenu a:hover {
    background: #1783c7;
}

.active {
    background: #25aae1;
}
.end {
    margin: 0;
}




/* SECTIONS */
.sTop {
    min-height: 130px;
    background:#fff;
    color:#3d3d3d;
    padding: 50px 0;
    height: 300px;

}

.s1 {
    background:#184764;
    color:#fff;

}


.s2 {
    background: #313131;
}
.s2 a {
    color: #fff;
}

.s3 {
    background: #1b83b3;
}


.s4 {
    background: #5aa3c4;
}



.s5 {
    background: #bce1f1;
    color: #3d3d3d;
}

.s6 {
    background: #161616;
}


.container					                { position: relative; width: 960px; margin: 0 auto; padding: 0;}
.column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                        { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column						{ width: 60px;  }
.container .two.columns 					{ width: 140px; }
.container .three.columns 					{ width: 220px; }
.container .four.columns 					{ width: 300px; }
.container .five.columns 					{ width: 380px; }
.container .six.columns 					{ width: 460px; }
.container .seven.columns 					{ width: 540px; }
.container .eight.columns 					{ width: 620px; }
.container .nine.columns 					{ width: 700px; }
.container .ten.columns 					{ width: 780px; }
.container .eleven.columns 					{ width: 860px; }
.container .twelve.columns 					{ width: 940px; }

/* Offsets */

.container .offset-by-one                	{ padding-left: 80px;  }
.container .offset-by-two                	{ padding-left: 160px; }
.container .offset-by-three              	{ padding-left: 240px; }
.container .offset-by-four               	{ padding-left: 320px; }
.container .offset-by-five               	{ padding-left: 400px; }
.container .offset-by-six                	{ padding-left: 480px; }
.container .offset-by-seven              	{ padding-left: 560px; }
.container .offset-by-eight              	{ padding-left: 640px; }
.container .offset-by-nine               	{ padding-left: 720px; }
.container .offset-by-ten                	{ padding-left: 800px; }
.container .offset-by-eleven             	{ padding-left: 880px; }

/* Column Layouts */
.one_half, .one_third, .two_third,
.three_fourth, .one_fourth, .one_fifth,
.two_fifth, .three_fifth, .four_fifth,
.one_sixth, .five_sixth						{margin-right: 2%; margin-left:2%; position:relative; float:left;}

.one_half									{ width:48%; }
.one_third									{ width:30.6666%;}
.one_fourth									{ width:22%; }
.one_fifth									{ width: 16.8%;}
.one_sixth 									{ width: 13.3333%;}

.two_third									{ width: 65.3332%;}
.two_fourth 								{ width: 48%;}
.two_fifth 									{ width: 37.6%;}
.two_sixth 									{ width: 30.6666%;}

.three_fourth								{ width:74%;}
.three_fifth 								{ width: 58.4%;}
.three_sixth 								{ width: 47.9998%;}

.four_fifth 								{ width: 79.2%;}
.four_sixth 								{ width: 65.3332%;}

.five_sixth 								{ width: 82.6665%;}
.firstcols									{ margin-left:0px !important; }
.last, .lastcols							{ margin-right:0px !important; clear:right; }


/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear, .clr {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) */
@font-face {
    font-family: 'OpenSansLight';
    src: url('../../../resources/fonts/codropsicons/OpenSans-Light-webfont.eot');
    src: url('../../../resources/fonts/codropsicons/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Light-webfont.woff') format('woff'),
    url('../../../resources/fonts/codropsicons/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'OpenSansRegular';
    src: url('../../../resources/fonts/codropsicons/OpenSans-Regular-webfont.eot');
    src: url('../../../resources/fonts/codropsicons/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Regular-webfont.woff') format('woff'),
    url('../../../resources/fonts/codropsicons/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../../../resources/fonts/codropsicons/OpenSans-Italic-webfont.eot');
    src: url('../../../resources/fonts/codropsicons/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Italic-webfont.woff') format('woff'),
    url('../../../resources/fonts/codropsicons/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../../../resources/fonts/codropsicons/OpenSans-Semibold-webfont.eot');
    src: url('../../../resources/fonts/codropsicons/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../../../resources/fonts/codropsicons/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'OpenSansBold';
    src: url('../../../resources/fonts/codropsicons/OpenSans-Bold-webfont.eot');
    src: url('../../../resources/fonts/codropsicons/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Bold-webfont.woff') format('woff'),
    url('../../../resources/fonts/codropsicons/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../../../resources/fonts/codropsicons/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }

/*============================================ GLOBAL  =================================================*/
body {
    font-family:Arial, Helvetica, sans-serif;
    -webkit-font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0 auto;
    padding:0;
    line-height:20px;
}
* {
    margin:0;
    padding:0;
}
*:focus {
    outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
form{margin:0; padding:0;}
hr {
    border-width:0;
    height:1px;
    line-height:0;
    margin:30px 0 30px 0;
    page-break-after:always;
    text-align:center;
    width:100%;
    clear:both;
}

/*** END OF GLOBAL  ***/


/*============================================ DEFAULT ELEMENT STYLES  =================================================*/
/* heading */
h1, h2, h3{margin-bottom:20px;}
h4, h5, h6{margin-bottom:18px;}
h1	{font-size:32px; line-height:34px}
h2	{font-size:26px; line-height:28px}
h3	{font-size:18px; line-height:20px}
h4	{font-size:16px;}
h5	{font-size:14px;}
h6	{font-size:13px;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; line-height:normal; font-family: 'OpenSansLight', Arial; }
.titleRegular{font-family: 'OpenSansRegular', Arial;}
.titleSemibold{font-family: 'OpenSansSemibold', Arial;}
.titleBold{font-family: 'OpenSansBold', Arial;}
.titleSection{margin-bottom:30px;}
.pagetitle{font-family: 'OpenSansBold', Arial; font-stretch:normal; font-size:26px; margin-bottom:22px }

/* links */
a, a:visited {text-decoration:none; font-weight:normal; }
a:hover{text-decoration:none;}
a img{border:none}


/* float align */
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 3px;
}
.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 20px;
    margin-top: 5px;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignnone,
img.alignnone {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:3px;
}


img.alignleft,
img.alignright,
img.aligncenter,
img.alignnone {
    margin-bottom: 12px;
}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
    margin-bottom:20px;
}
ul {
    list-style: disc;
    margin: 0 0 18px 1.5em;
}
ul li{ padding-bottom:10px;}
ol {
    list-style: decimal;
    margin: 0 0 18px 2.2em;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
}

/*** END OF DEFAULT ELEMENT STYLES ***/


/*============================================ CONTAINER  =================================================*/
#bodychild{
    width:100%;
    margin:0;
}
#outercontainer{
    width:100%;
    margin:0;
    padding:0;
}

#outerheader, #outerslider, #outerbeforecontent, #outermain,  #outerfootersidebar, #outerfooter{width:100%; margin:0 auto;}


/* CONTENT */
#outermain{padding:58px 0 60px 0;}
#outermain.inner{padding:30px 0 60px 0;}
#maincontent{}
#content{float:left;}
#content.positionright{float:right;  background:url(../../../resources/img/list/sidebar-separator2.png) no-repeat top left}
#content.positionleft{ float:left; background:url(../../../resources/img/list/sidebar-separator.png) no-repeat top right}
.padcontent{padding-right:8.6%;}
#content.positionright .padcontent{padding-left:8.6%; padding-right:0}

/* SIDEBAR */
#sidebar{float:left; }
#sidebar.positionleft{float:left;}
#sidebar.positionright{float:right;}

/* FOOTER SIDEBAR */
#outerfootersidebar{}

/*** END CONTAINER ***/

/*** HEADER ***/
#top{}
#logo{float:left}
#headerright{float:left; padding:40px 0 0 0}
#headerright #searchform{
    float:right;
    padding:0;
    margin:0;
}
#headerright input{border:0;}
#headerright .search input#s{
    width:auto;
    padding:8px 10px;
    -moz-border-radius:3px 0 0 3px;
    -webkit-border-radius:3px 0 0 3px;
    -khtml-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
    border-width:1px 0px 1px 1px;
    margin:0;
    line-height:normal;
    vertical-align:middle;
}



.sf-menu a {
    text-decoration:none;
    display:		block;
    position:		relative;
    padding: 		25px 0 26px 0;
    text-transform:uppercase;
}

.sf-menu li:first-child a{
    /* style for first menu item */
    border-top-left-radius:6px;
    border-bottom-left-radius:5px;
}

.sf-menu li:last-child a{
    /* style for last menu item */
    border-top-right-radius:9px;
    border-bottom-right-radius:9px;
}

.sf-menu > li {
    padding-left: 1px;
    position: relative;
    z-index: 10;
    width: 155px;
    text-align:center
}

.sf-menu > li:last-child{width:152px;}
.sf-menu > li:first-child{padding-left:0;}
.sf-menu > li:before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


/* Drop down menu */
.sf-menu ul a:hover {}
.sf-menu li li {
    text-align:left;
    line-height:20px;
    margin:0;
}
.sf-menu, .sf-menu * {
    margin:			0;
    padding:		0;
    list-style:		none;
    font-size:14px;

}
.sf-menu {
    line-height:100%;
    position:absolute;
    right:0;
    bottom:0;
    float:left;

}
.sf-menu ul {
    position:		absolute;
    top:			-999em;
    width:			12em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
    width:			100%;

}
.sf-menu li:hover {
    visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
    float:			left;
    position:		relative;
    margin:0;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:			0px;
    top:			4.9em; /* match top ul list item height */
    z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:			-999em;

}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left:			12em; /* match ul width */
    top:			-1px;
    margin-left:	0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top:			-999em;

}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left:			12em; /* match ul width */
    top:			-1px;

}
.sf-menu ul li a{
    padding:12px 25px!important;
    font-size:14px;
    text-transform:capitalize;
}

.sf-menu li ul {
    padding:0px 0px;
}
.sf-menu a.sf-with-ul {
    padding-right: 	0px;
    min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
    position:		absolute;
    display:		block;
    right:			10px;
    top:			1.05em; /* IE6 only */
    width:			10px;
    height:			10px;
    text-indent: 	-999em;
    overflow:		hidden;
}



.sf-menu ul{border:0px;}
.sf-menu li li {}
.sf-menu > li li:before{
    content: "";
    display: block;
}

.sf-menu > li li:first-child:before{ border:0;}

/* dropdown mobile */
#menu-icon {
    display: none; /* hide menu icon initially */
}


/*============================================ SLIDER   =================================================*/
#slidercontainer{padding-bottom:20px;}
#slider{position:relative;}


/*============================================ BEFORE CONTENT  =================================================*/
#outerbeforecontent{text-align:center; padding:33px 0 40px 0}
#beforecontent h1{font-size:28px; margin:0 0 30px 0}

/*============================================ CONTENT  =================================================*/
.indentleft{overflow:hidden;}
.margin_bottomoff{margin-bottom:0 !important;}
.marginsmall{margin-bottom:6px;}
.marginmiddle{margin-bottom:12px;}
.marginlarge{margin-bottom:30px;}
.center{text-align:center;}


.highlight-content{clear:both; padding:26px 0; text-align:center; margin-bottom:20px}
.highlight-content h1{margin:0 0 10px 0; font-size:28px}
.customtext{font-size:15px; font-family:'OpenSansItalic', Arial}

/*=== List ===*/
.row-list{list-style-type:none; padding:0; margin:0}
.row-list li{padding:0; margin:0 0 25px 0}
.row-list .circle{margin-top:3px;}

.listSquareSmall{list-style-type:square; padding:0; list-style-position:inside; margin:0 0 20px 0;  text-transform:uppercase;}
.listSquareSmall li{padding:3px 0; margin:0 0 0 0; font-size:8px;}
.listSquareSmall li a{font-size:10px;}

.listColumn{list-style-type:none; padding:0; margin:0;}
.listColumn li{}

.listNolist{list-style-type:none; padding:0; margin:0; font-family:'OpenSansRegular', Arial}
.listNolist li{font-size:13px}


/* list in contact area */
.noList{list-style-type:none; padding:0; margin:0;}
.noList li{clear:both}
.txtleft{float:left}
.txtright{float:right}



/*=== Circle ===*/
.circle{
    display: block;
    font-size:19px;
    line-height:35px;
    width:35px;
    -moz-border-radius:35px;
    -webkit-border-radius:35px;
    -khtml-border-radius:35px;
    border-radius:35px;
    text-align: center;
    margin:0 15px 0 0;
    font-family: 'OpenSansSemibold', Arial;

}


/*=== Images ===*/
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}
.imgborder{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    padding:6px;
    max-width: 95%;
    display:block;
}

.shadowBottom{background:url(../../../resources/img/list/shadow-small.gif) no-repeat center bottom; padding-bottom:5px;}
.shadowBottom.extrasmall{background:url(../../../resources/img/list/shadow-extrasmall.gif) no-repeat center bottom; padding-bottom:6px;}

/*=== Form & Button ===*/
form{margin:0; padding:0;}

input[type="text"],
textarea, input[type="password"], select{
    font-size:12px;
    padding:7px 5px;
    font-size:11px;
    font-family:Arial;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

textarea{width:90%;}

textarea:focus{outline:0;}

.button, .button:visited, input[type="submit"], button{
    border:0px;
    padding:9px 20px 10px 20px;
    cursor:pointer;
    font-family: 'OpenSans', Arial;
    font-size:14px;
    line-height:14px;
    text-transform:uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;

}
.button:hover, input[type="submit"]:hover, button:hover{
    text-decoration:none;
}
.button.mini{font-size:12px; padding:6px 15px 7px 15px;}
.button.small{font-size:12px;}
.button.large{font-size:15px; line-height:15px; padding:9px 25px 10px 25px;}

/*=== Separator ===*/
.separator {
    display:block;
    height:32px;
    padding:0 0;
    text-align:center;
    width:100%;
    clear:both;
}


.separator.line{
    padding:30px 0;
    margin-bottom:20px;
    background:url(../../../resources/img/list/separator.png) no-repeat center center
}


/*=== Dropcaps ===*/
.dropcap1{
    display:block;
    float:left;
    font-size:35px;
    line-height:35px;
    margin:2px 8px 0 0;
}
.dropcap2{
    display: block;
    float:left;
    font-size:35px;
    line-height:45px;
    width: 47px;
    -moz-border-radius: 47px;
    -webkit-border-radius: 47px;
    -khtml-border-radius: 47px;
    border-radius: 47px;
    float:left;
    text-align: center;
    margin:8px 15px 0 0;
    padding-top:3px;

}
.dropcap3{
    display:block;
    float:left;
    font-size:35px;
    line-height:40px;
    width:47px;
    height:40px;
    text-align: center;
    margin:6px 8px 0 0;
    padding:5px 0
}

/*== Highlight ==*/
.highlight1{padding:2px 5px;}
.highlight2{padding:2px 5px;}


/*==== Tabs ====*/
.tabcontainer{margin:0;}
ul.tabs {
    margin: 0;
    margin-bottom:-1px;
    padding: 0 0 2px 0;
    list-style: none;
    height: 25px;
    width: 100%;

}

ul.tabs li {
    float: left;
    margin: 0 0;
    padding: 0 15px;
    line-height:25px;
    height:25px;
    overflow: hidden;
    position: relative;
    font-size:14px;
    text-transform:uppercase;
}

ul.tabs li a {
    text-decoration: none;
    display: block;
    padding: 0 0px;
    outline: none;
    font-family:'Cuprum', Arial;
}

.tab-content {padding: 20px 0; }

ul.tabs li:hover{}
#tab-body{padding:0 20px;}

/*==== jQuery Toggles ====*/
#toggle{border: 0px }
h2.trigger {
    padding: 10px 0px;
    margin: 0 0 0 0;
    font-size:14px;
    font-weight: normal;
}

h2.trigger span {
    text-decoration: none;
    display: block;
    height:23px;
    background: url(../../../resources/img/list/arrow-left.png) no-repeat 0 0px;
    padding-left:30px;
    cursor:pointer;
    line-height:24px;
}

h2.active span{ background:url(../../../resources/img/list/arrow-down.png) no-repeat 0 0px;}

h2.active { background:transparent; border-bottom:0;}

.toggle_container {
    margin: 0 0 0 0;
    padding: 0px 0px;
    overflow: hidden;
    clear: both;
}
.toggle_container .block {
    padding: 0px 0px 0px 30px;
}
.toggle_container .block p {
    padding: 0px;
    margin: 0px;
}

/*==== Tables ====*/
table {border-collapse:separate;border-spacing:0;width:100%; margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;text-transform:uppercase;}
td{padding:10px;}
tfoot td{border:0px;}
th,tr:hover{}
table {
    text-align: left;
    margin: 0 -1px 24px 0;
    width: 100%;
}
tr th,
thead th {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}
tr td {
    padding: 6px 24px;
}
tr.odd td {}



/*============================================ SIDEBAR  =================================================*/
.widget-title{
    font-size:16px;
    padding:0;
    margin-bottom:15px;
    font-family:'OpenSansBold', Arial;
}

#sidebar ul{
    list-style-type:none;
    list-style-position:outside;
    line-height: 40px;
    margin:0;
    padding:0;
}

#sidebar ul li{
    list-style-type:none;
    margin:0;
    padding:0;

}
#sidebar .widget-container{margin-bottom:40px; padding:40px 0 0 0;}
#sidebar .widget-container:first-child{padding:10px 0px; border:0}

#sidebar li li{
    list-style-type:none;
    margin:0 0 4px 0;
    padding:0 0 3px 0;
    font-family: 'OpenSansRegular';
}

#sidebar li li a:hover, #sidebar li li a.active{text-decoration:none;}

#sidebar .textwidget p{ margin-bottom:0px;}

/* Recent post widget */
.rp-widget li{padding-bottom:10px; margin-bottom:0px ; clear:left}
.rp-widget img{padding:4px;}
.rp-widget li h3{font-size:13px; font-family:arial; margin-bottom:8px}
.rp-widget li .smalldate{font-size:11px; display:block; font-style:italic; background:url(../../../resources/img/list/cal.png) no-repeat; overflow:hidden; padding:0 0 0 20px}



/*============================================ FOOTER SIDEBAR  =================================================*/
#outerfootersidebar{padding:36px 0;}
#footersidebar ul{list-style-type:none; margin:0; padding:0;}
#footersidebar li.widget-container{list-style-type:none; margin:0 0 40px 0; padding:0; border:0px;}
#footersidebar .widget-title{
    font-size:18px;
    line-height:30px;
    font-family: 'OpenSansRegular';
    padding:0 0 20px 0;
    margin-bottom:25px;
    background:url(../../../resources/img/list/line_foot.gif) repeat-x left bottom;
}
#footersidebar li li{padding:0 0 3px 14px; margin:0 0 3px 0; background:url(../../../resources/img/list/list-circle.png) no-repeat 0px 7px }
#footersidebar li a{ padding:0px; margin:0px;}
#footersidebar li a:hover{ text-decoration:none;}

/* Newsletter */
#newsletter input[type="text"]{
    vertical-align:top;
    width:75%;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    padding:8px;
    margin-bottom:14px
}

#newsletter input[type="submit"]{ text-transform:capitalize; padding:6px 15px 8px 15px; font-size:12px; display:block}

#line-sep-footer{background:url(../../../resources/img/list/line_foot.gif) repeat-x; height:1px; clear:both; margin-bottom:30px}


/*============================================ FOOTER  =================================================*/
#footercontainer{position:relative;}
#footer{padding:18px 0px 18px 0;}
#footer{font-size:12px;}
#footer a, #footer a:visited{}
#toTop {
    position:absolute; /* this is the magic */
    top:18px;
    right:0;
    cursor:pointer;
    font-size:12px;
}



