.page-article
  
  .postArticle-content
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
    letter-spacing: -0.02em
    font-weight: 400
    font-style: normal
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -moz-font-feature-settings: "liga" on
    color: rgba(0,0,0,0.8)
    font-size: 18px
    line-height: 1.4
  

  .postArticle-content
    position: relative
    font-size: 22px
    line-height: 1.5
    margin-bottom: 30px
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif
    letter-spacing: .01rem
    font-weight: 400
    font-style: normal
  

  hr
    box-sizing: content-box
    height: 0
  

  .section--last
    padding-bottom: 5px
  

  .postArticle-content>section
    position: relative
    clear: both
  

  .postArticle-content, .postArticle-content:focus
    outline: 0
    word-break: break-word
    word-wrap: break-word
  

  .graf--hr, hr.section-divider
    display: block
    width: 100px
    margin: 51px auto 41px auto
    border: 0
    border-top: 1px solid rgba(0,0,0,0.15)
  
  .graf--p, .graf--blockquote, .graf--pullquote
    margin-bottom: 30px
  
  .graf--blockquote+.graf--blockquote
    padding-top: 30px
    margin-top: -30px
  
  p[data-align="center"], .graf--h2[data-align="center"], .graf--h3[data-align="center"], .graf--h4[data-align="center"], .graf--blockquote[data-align="center"]
    text-align: center

  .graf--blockquote
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif
    letter-spacing: .01rem
    font-weight: 400
    font-style: italic
    border-left: 3px solid rgba(0, 0, 0, 0.8)
    padding-left: 20px
    margin-left: -23px
    padding-bottom: 3px
  
  .graf--h2
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
    letter-spacing: -0.02em
    font-weight: 700
    font-style: normal
    font-size: 60px
    margin-left: -3px
    line-height: 1
    letter-spacing: -0.04em
    margin-top: 40px
    padding-top: 0
    margin-bottom: 8px
    color: rgba(0, 0, 0, 0.8)

  .graf--h3
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
    letter-spacing: -0.02em
    font-weight: 700
    font-style: normal
    font-size: 36px
    margin-left: -1.8px
    line-height: 1.2
    margin-top: 40px
    margin-bottom: 4px
    color: rgba(0,0,0,0.8)
  
  .graf--h4
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
    letter-spacing: -0.02em
    font-weight: 300
    font-style: normal
    font-size: 32px
    margin-left: -1.6px
    line-height: 1.2
    color: rgba(0,0,0,0.44)
    margin-top: 40px
    margin-bottom: 2px
  

  .graf--h2+.graf--p.graf--empty+.graf--h3, .graf--h3+.graf--p.graf--empty+.graf--h3, .graf--h4+.graf--p.graf--empty+.graf--h3, .graf--h2+.graf--p.graf--empty+.graf--h4, .graf--h3+.graf--p.graf--empty+.graf--h4, .graf--h4+.graf--p.graf--empty+.graf--h4
    margin-top: -8px
  

  .graf--p, .graf--blockquote, .graf--pullquote
    margin-bottom: 30px
  
  .graf-image, .graf-imageAnchor, .iframeContainer>iframe, .iframeContainer
    display: block
    margin: auto
    max-width: 100%
    box-sizing: border-box
  
  .aspectRatioPlaceholder
    position: relative
    width: 100%
    margin: 0 auto

  .aspectRatioPlaceholder.is-locked .graf-image, .aspectRatioPlaceholder.is-locked .graf-imageAnchor
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  
  .graf--figure
    position: relative
    margin-bottom: 30px
    clear: both
    outline: none
    box-sizing: border-box
  
  .graf--layoutInsetLeft, .graf--layoutOutsetLeft
    float: left
    margin-top: 10px
    margin-right: 30px
    margin-bottom: 10px
  
  .graf--layoutOutsetLeft
    width: 75%
  
  .graf--layoutOutsetLeft
    margin-left: -160px
  
  .graf--layoutInsetLeft
    width: 50%
  
  .graf--h4+.graf--figure, .graf--h3+.graf--figure, .graf--h2+.graf--figure
    margin-top: 15px

  .graf--pullquote
    line-height: 1.4
    text-align: center
    font-size: 32px
    margin: 48px -160px
    border: none
    padding: 0
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif
    letter-spacing: .01rem
    font-weight: 400
    font-style: italic
    transition: margin 100ms
  

  .section-captionContent, section.is-darkBackgrounded>.section-captionContent
    position: absolute
    top: 100%
    width: 100%
    display: block
    color: rgba(0,0,0,0.6)
    left: 0
    margin-top: 10px
  

  .section-captionContent, section.is-darkBackgrounded>.section-captionContent
    position: absolute
    top: 100%
    width: 100%
    display: block
    color: rgba(0,0,0,0.6)
    left: 0
    margin-top: 10px
  

  .graf--sectionCaption
    display: block
    font-size: 16px
    font-style: italic
    text-align: center
  

  .section-image--aspectRatioViewport .graf--last
    margin-bottom: 0
  

  .sectionLayout--outsetColumn, .sectionLayout--outsetRow
    max-width: 1020px
    width: 100%
    margin: 0 auto
    padding-top: 35px
    box-sizing: border-box
  
  div.section-divider, .section-inner, .postFollowUps, .notesPositionContainer
    position: relative
    right: 0%
    transition: right 200ms
  
  .sectionLayout--outsetColumn+.layoutSingleColumn, .sectionLayout--outsetColumn+.u-sizeFullWidth, .sectionLayout--outsetRow+.layoutSingleColumn, .sectionLayout--outsetRow+.u-sizeFullWidth
    padding-top: 65px

  .layoutSingleColumn
    width: 700px
    margin: 0 auto
  
  div.section-divider, .section-inner, .postFollowUps, .notesPositionContainer
    position: relative
    right: 0%
    transition: right 200ms
  
  .sectionLayout--outsetColumn:before, .sectionLayout--outsetRow:before, .sectionLayout--outsetColumn:after, .sectionLayout--outsetRow:after
    display: table
    content: " "
  
  .sectionLayout--outsetColumn:after, .sectionLayout--outsetRow:after
    clear: both

  figure
    margin: 1em 40px
  
  .postArticle-content
    position: relative
    font-size: 22px
    line-height: 1.5
    margin-bottom: 30px
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif
    letter-spacing: .01rem
    font-weight: 400
    font-style: normal
  

  ::selection
    background-color: #cce2ff
    color: rgba(0, 0, 0, 0.8)


  *, *:before, *:after
    box-sizing: inherit
  

  div.section-divider, .section-inner, .postFollowUps, .notesPositionContainer
    position: relative
    right: 0%
    transition: right 200ms
  
  figcaption
    display: block
  

  article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
    display: block
  

  section:first-child>.section-divider, section.is-backgrounded+section>.section-divider
    display: none
  
  .imageCaption
    position: absolute
    left: -172px
    width: 150px
    top: 0
    text-align: right
    margin-top: 0
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif
    letter-spacing: .01rem
    font-weight: 400
    font-style: italic
    font-size: 14px
    line-height: 1.4
    color: rgba(0, 0, 0, 0.6)
    outline: 0
    z-index: 300
  
  .m-imageCaption-below, .postArticle--short .imageCaption, .graf--layoutOutsetLeft>.imageCaption, .graf--layoutOutsetCenter>.imageCaption, .graf--layoutFillWidth>.imageCaption, .is-partialWidth>.imageCaption
    position: relative
    width: 100%
    text-align: center
    left: 0
    margin-top: 10px
  
  .markup--quote
    transition: 200ms background-color
    cursor: pointer
  
  .markup--quote.is-other
    background-color: rgba(225, 225, 225, 0.5)
  
  .markup--quote.is-other
    background-color: rgba(0, 0, 0, 0)
    background-image: linear-gradient(to bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.5))
  
  .ui.comments
    width: 700px
    margin: 0 auto
  
  .section-aspectRatioViewportBottomSpacer, .section-aspectRatioViewportBottomPlaceholder
    display: none
    max-height: 50vh
  
  .section--bottomCenter .section-aspectRatioViewportBottomSpacer, .section--bottomCenter .section-aspectRatioViewportBottomPlaceholder
    display: block
  
  section.is-imageBackgrounded>.section-background
    display: block
    width: 100%
    position: absolute
    top: 0
    cursor: default
  
  .section-image--aspectRatioViewport.is-imageBackgrounded .section-background, .section-image--aspectRatioViewport.is-imageBackgrounded .section-backgroundImage
    bottom: 0
  
  .postArticle-content>section
    position: relative
    clear: both

  section.is-backgrounded
    padding: 80px 0
    width: 100%
    margin: 80px 0
  
  section.is-imageBackgrounded
    box-sizing: border-box
    padding-bottom: 80px
  
  section.section-image--aspectRatio, section.section-image--aspectRatioViewport
    padding: 0
  
  .section--first.is-backgrounded
    margin-top: 0
  
  section.is-imageBackgrounded.is-darkBackgrounded
    background: #191918
    color: #FFF
  
  section.is-imageBackgrounded.is-darkBackgrounded.is-sectionUsingCanvas
    background: rgba(255, 255, 255, 0)
  
  .postArticle-content:before, .postArticle-content:after
    display: table
    content: " "
  
  .postArticle-content:after
    clear: both
  
  section.is-darkBackgrounded .graf--h2, section.is-darkBackgrounded .graf--h3
    color: #FFF
  
  section.is-imageBackgrounded .section-backgroundImage
    position: absolute
    top: 0
    left: 0
    right: 0
    background-size: cover
    background-position: center

  .section-image--aspectRatioViewport.is-imageBackgrounded .section-background, .section-image--aspectRatioViewport.is-imageBackgrounded .section-backgroundImage
    bottom: 0
  
  .u-table
    display: table !important

  .section-doubleWidthTable
    width: 200%
    table-layout: fixed
  
  .section-doubleWidthTable
    width: 200%

  .u-verticalAlignTop
    vertical-align: top !important
  
  .u-tableCell
    display: table-cell !important
  
  .section-doubleWidthTable>.u-tableCell
    width: 50%
  
  .section-doubleWidthTable>.u-tableCell
    width: 50%
  
  .section--middleCenter .section-contentCell, .section--bottomCenter .section-contentCell
    vertical-align: middle
  
  .section-backgroundImage
    opacity: 0.5
  
  .section-image--aspectRatioViewport.section--topCenter .section-content
    padding: 120px 0 80px
  
  .is-darkBackgrounded .graf--blockquote
    border-left-color: rgba(255, 255, 255, 0.85)

  h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form
    margin: 0
    