.page-article-list
  
  .container
    width: 1000px
    margin: 0 auto

  h1 h2 h3
    color: #08516E
    margin-bottom: 20px

  h1
    font-size: 32px
    line-height: 34px
    font-weight: bold


  h2
    font-size: 26px
    line-height: 28px
    font-weight: bold


  h3
    font-size: 20px
    line-height: 22px
    font-weight: normal


  h1:hover h2:hover h3:hover
    color: #dc3c00


  .leftblock
    width: 630px
    float:left

  .leftblock a
    color: #222
    text-decoration:none

  .leftblock a:hover
    text-decoration:underline

  .articleCover
    border-radius: 3px
    max-width:100%


  .square
    margin: 20px 0
    padding: 20px 0
    border-bottom: 1px solid #CCC

  .rightblock
    width: 290px
    float:right

  .rightblock a
    color: #08516E

  .rightblock a:hover
    color: #ec561d

  .author
    margin-top: 80px

  li
    display: block
    text-decoration: none
    line-height: 30px
    margin-left: -40px
    list-style: none



