.page-article-search
  .search-content
    width: 1000px
    margin: 0 auto
  
  .search-item
    margin: 10px 0
    padding: 10px 0
  
  .search-item-title
    font-size: 26px
    color: #222
  
  .search-item-url
    color: #AAA
    margin: 5px 0
  
  .search-item-content
    color: #888
    p
      margin: 0 0 5px 0