.page-signup
  .reg-header
    margin: 30px 0 10px 0
    text-align: center
  .reg-divider
    width: 600px
    margin: 0 auto
    margin-bottom: 60px
  .reg-dialog
    width: 350px
    margin: 0 auto
    margin-bottom: 100px
  .form
    padding: 20px