<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="nav(current)">
    <div class="container clearfix">
        <div class="logo"><a href="/"><img src="../../../resources/img/logo1.png" th:href="@{/resources/img/logo0.png}"/></a></div>
        <div class="nav-items clearfix">
            <a th:attr="class=${current == 'recommend' ? 'active' : null}" href="/">Recommendations</a>
            <a th:attr="class=${current == 'topics' ? 'active' : null}" href="/topics">Topics</a>
            <a th:attr="class=${current == 'my' ? 'active' : null}" th:if="${#authorization.expression('isAuthenticated()')}" href="/article/view/mine">My</a>
        </div>
        <div class="nav-action-items clearfix">
            <a href="/signin" th:href="@{/signin}" class="ui black basic button" th:if="${#authorization.expression('!isAuthenticated()')}">Sign in</a>
            <a href="/signup" th:href="@{/signup}" class="ui blue button" th:if="${#authorization.expression('!isAuthenticated()')}">Sign up</a>
            <a class="link-item" href="/article/create" th:if="${#authorization.expression('isAuthenticated()')}">Write</a>
            <a class="link-item" href="/logout" th:href="@{#}" onclick="$('#form').submit();" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a>
            <form id="form" method="post" action="#" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}"></form>
        </div>
    </div>
</div>
</body>
</html>